{% extends 'base.html.twig' %}

{% block title %}Student
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col d-flex align-items-center flex-column">
				{% if student.fileName %}
					<img src="{{ vich_uploader_asset(student, 'imageFile') }}" alt="student_image" class="card-img-top " style="width: 250px; height: 250px; border-radius: 50%;">
				{% else %}
					<img src="/images/e3.jpg" alt="student_image" class="card-img-top" style="width: 250px; height: 250px; border-radius: 50%;">
				{% endif %}
			</div>
			<h1 class="fw-bold">{{ student.fullname }}</h1>
		</div>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Matricule</th>
					<td>{{ student.matricule }}</td>
				</tr>
				<tr>
					<th>Prénom et Nom</th>
					<td>{{ student.fullname }}</td>
				</tr>
				<tr>
					<th>Date de naissance</th>
					<td>{{ student.birthday ? student.birthday|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Lieu de naissance</th>
					<td>{{ student.birthplace }}</td>
				</tr>
				<tr>
					<th>Numéro de téléphone</th>
					<td>{{ student.phone }}</td>
				</tr>
				<tr>
					<th>Addresse</th>
					<td>{{ student.adress }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ student.email }}</td>
				</tr>
				<tr>
					<th>Date de création</th>
					<td>{{ student.createdAt ? student.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Specialité</th>
					<td>{{ student.speciality is null ? '' : student.speciality.label }}</td>
				</tr>

			</tbody>
		</table>
		{% if student.skill is not empty %}
			<div class="row mb-4">
				<div class="col-md-4">
					<h3>Compétences</h3>
					<div class="list-group">
						{% for skill in student.skill %}
							<li class="list-group-item">{{skill.label}}</li>
						{% endfor %}
					</div>
				</div>

			</div>
		{% endif %}

		<a href="{{ path('app_student_index') }}" class="btn btn-secondary">Retour à la liste des étudiants</a>

		<a href="{{ path('app_student_edit', {'id': student.id}) }}" class="btn btn-primary">Modifier</a>

		{{ include('student/_delete_form.html.twig') }}
	</div>

{% endblock %}
